<!doctype html>
<html>
  <head>
    <title> slack auditor </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
      <header>
        <h1>Slack Auditor</h1>
      </header>

      {{{ body }}}
    </main>
  </body>
</html>