<section class="home">
  <p>Slack app to log all team member logins to a slack channel of your choosing, or export all access log data from the beginning of time. Requires that you be an <strong>admin</strong> of a <strong>paid</strong> Slack team.</p>
  <p><a href="/auth"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a></p>
  <p><img src="/img/screenshot.png"></p>
  <p><a href="https://github.com/JoahG/slack-auditor/">Help Contribute on GitHub</a></p>
</section>